<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697786801169-fnno6cbfpakqhme4a0rq2jgsarmtoadp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697786801169-fnno6cbfpakqhme4a0rq2jgsarmtoadp</string>
	<key>API_KEY</key>
	<string>AIzaSyAis_fzUn6yjROFqpf7UqTe86QYqH3jURU</string>
	<key>GCM_SENDER_ID</key>
	<string>697786801169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skalaMobile</string>
	<key>PROJECT_ID</key>
	<string>skala-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>skala-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697786801169:ios:f6c8438cb6814eee95e5b0</string>
</dict>
</plist>